<html>
<head>
    <title>Template Test</title>
    <style type="text/css">
         li:first-child {
             font-style: italic;
         }
         li:last-child {
             font-weight: bold;
         }
    </style>
</head>
<body ng-app="templateTest">

<h1>{{ "Hello Glacier!" | uppercase }}</h1>
    <ul>
        <li ng-repeat="num in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]" ng-if="num % 3 != 0">{{ num }}</li>
    </ul>

    <ul>
        <li ng-repeat="letter in ['a', 'b', 'c', 'd', 'e', 'f']">{{ letter | uppercase }} {{ letter | lowercase }}</li>
    </ul>

    <form name="userForm" novalidate>
        <label for="first_name">First Name</label>
        <input type="text" id="first_name" ng-model="user.firstName" required>

        <label for="last_name">Last Name</label>
        <input type="text" id="last_name"  ng-model="user.lastName" required>

        <label for="email">eMail</label>
        <input type="email" id="email" ng-model="user.email" required>

        <label for="password">Password</label>
        <input type="password" id="password" ng-model="user.password" required minlength="6">
    </form>

    <div ng-if="userForm.$valid">
        Welcome {{ user.firstName }} {{ user.lastName }}<br>
        We will send a confirmation eMail to {{ user.email }}
    </div>

<script type="text/javascript" src="/js/angular.min.js"></script>
<script type="text/javascript" src="/js/templateTest.js"></script>
</body>
</html>